name: Fetch Cookie

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: npm install axios

      - name: Run script
        env:
          HIDDEN_API_URL: ${{ secrets.HIDDEN_API_URL }}
        run: node index.js

      - name: Commit cookie
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add cookie.json
          git commit -m "Auto update cookie" || echo "No changes"
          git push
